In [94]:
%run ./resources/library.py

In [95]:
style_notebook()

Digital Case Study: Multidrug-Resistant Tuberculosis (MDR-TB) Outbreak - Revisiting the 2005 Outbreak Investigation in Thailand by John Oeltmann

## Note: Work in progress...

# Notebook 7, Part 3: Social Network Analysis

## Social Network Analysis

In [104]:
import pandas as pd

pd.__version__

'0.24.2'

Let's load the two batches of data for nodes and edges.

## Using `pyvis` for Network Visualization

https://pyvis.readthedocs.io/en/latest/tutorial.html

In [111]:
nodelist_orig = df12.ORIGNO.unique()

nodelist_orig

array(['TH-101579', 'TH-101823', 'TH-101783', 'TH-102445', 'TH-102460',
       'TH-102637', 'TH-103347', 'TH-103009', 'TH-102909', 'TH-103773',
       'TH-104039', 'TH-103927'], dtype=object)

In [89]:
nodes = []
batches = []
lons = [] # x
lats = [] # y
links = []
drtypes = []

node_colors =  []
for each in df12.iterrows():
    origno = each[1]['ORIGNO']
    batch = each[1]['batch']
    lon = each[1]['OLON']
    lat = each[1]['OLAT']
    link_count = each[1]['link_count']
    drtype = 'MDR-TB'
    if origno not in nodes:
        nodes.append(origno)
        batches.append(batch)
        lons.append(lon)
        lats.append(lat)
        links.append(link_count)
        drtypes.append(drtype)

[nodes, batches, lons, lats, links, drtypes]

[['TH-101579',
  'TH-101823',
  'TH-101783',
  'TH-102445',
  'TH-102460',
  'TH-102637',
  'TH-103347',
  'TH-103009',
  'TH-102909',
  'TH-103773',
  'TH-104039',
  'TH-103927'],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2],
 [100.82844,
  100.828917,
  100.828634,
  100.82895,
  100.827556,
  100.829703,
  100.830247,
  100.831095,
  100.830151,
  100.82848,
  100.829623,
  100.829917],
 [14.702731,
  14.699857,
  14.696434,
  14.696133,
  14.700809,
  14.696637,
  14.697342,
  14.699261,
  14.69898,
  14.700229,
  14.697903,
  14.700072],
 [4, 4, 1, 1, 1, 1, 3, 1, 1, 1, 1, 2],
 ['MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB',
  'MDR-TB']]

In [90]:
from pyvis.network import Network
net = Network(notebook=True, \
              height="700px", \
              width="500px", \
              bgcolor="white", \
              font_color="black")

### Add nodes and attributes

In [91]:
net.add_nodes(nodes, value=links, title=nodes, x=lons, y=lats, label=nodes)

### Add edges

In [92]:
df12[['ORIGNO','DESTNO','link_count']]

       ORIGNO     DESTNO  link_count
0   TH-101579  TH-101823           4
1   TH-101579  TH-102637           4
2   TH-101823  TH-101579           4
3   TH-101823  TH-101783           4
4   TH-101823  TH-102445           4
5   TH-101823  TH-102460           4
6   TH-101783  TH-101823           1
7   TH-102445  TH-101823           1
8   TH-102460  TH-101823           1
9   TH-102637  TH-101579           1
10  TH-103347  TH-103009           3
11  TH-103347  TH-102909           3
12  TH-103347  TH-103773           3
13  TH-103009  TH-103347           1
14  TH-102909  TH-103347           1
15  TH-103773  TH-103347           1
16  TH-101579  TH-103927           4
17  TH-101579  TH-104039           4
18  TH-104039  TH-101579           1
19  TH-103927  TH-104090           2
20  TH-103927  TH-104090           1
21  TH-103927  TH-101579           2
22  TH-103927  TH-101579           1

In [93]:
sources = []
destinations = []
weights = []
for each in df12.iterrows():
    source = each[1]['ORIGNO']
    destination = each[1]['DESTNO']
    weight = each[1]['link_count']
    sources.append(source)
    destinations.append(destination)
    weights.append(weight)
    
net.add_edge(sources, destinations, value=weights)

AssertionError: non existent node '['TH-101579', 'TH-101579', 'TH-101823', 'TH-101823', 'TH-101823', 'TH-101823', 'TH-101783', 'TH-102445', 'TH-102460', 'TH-102637', 'TH-103347', 'TH-103347', 'TH-103347', 'TH-103009', 'TH-102909', 'TH-103773', 'TH-101579', 'TH-101579', 'TH-104039', 'TH-103927', 'TH-103927', 'TH-103927', 'TH-103927']'

### Show netork graph

In [82]:
net.show('outputs/net.html')